# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
.next/trace
.next/cache/webpack/client-development/1.pack
.next/cache/webpack/client-development/2.pack
.next/cache/webpack/client-development/4.pack
.next/cache/webpack/client-development/5.pack
.next/cache/webpack/client-development/6.pack
.next/cache/webpack/client-development/7.pack
.next/cache/webpack/client-development/index.pack
.next/cache/webpack/client-development/index.pack.old
.next/cache/webpack/server-development/5.pack
.next/cache/webpack/server-development/6.pack
.next/cache/webpack/server-development/7.pack
.next/cache/webpack/server-development/8.pack
.next/cache/webpack/server-development/9.pack
.next/cache/webpack/server-development/10.pack
.next/cache/webpack/server-development/index.pack
.next/cache/webpack/server-development/index.pack.old
.next/trace
.next/cache/webpack/client-development/1.pack
.next/cache/webpack/client-development/2.pack
.next/cache/webpack/client-development/4.pack
.next/cache/webpack/client-development/5.pack
.next/cache/webpack/client-development/7.pack
.next/cache/webpack/client-development/8.pack
.next/cache/webpack/client-development/9.pack
.next/cache/webpack/client-development/10.pack
.next/cache/webpack/client-development/index.pack
.next/cache/webpack/client-development/index.pack.old
.next/cache/webpack/server-development/7.pack
.next/cache/webpack/server-development/8.pack
.next/cache/webpack/server-development/9.pack
.next/cache/webpack/server-development/10.pack
.next/cache/webpack/server-development/index.pack
.next/cache/webpack/server-development/index.pack.old
.next/server/pages/index.js
.next/static/chunks/webpack.js
.next/static/chunks/pages/index.js
.next/static/webpack/01e771bd391f5c4c.webpack.hot-update.json
.next/static/webpack/4a83e0c6e475ef1e.webpack.hot-update.json
.next/static/webpack/8bc322c5eed36c26.webpack.hot-update.json
.next/static/webpack/19e50d5ebc99c2ef.webpack.hot-update.json
.next/static/webpack/90e02260aecdc0f5.webpack.hot-update.json
.next/static/webpack/57872d41122f1762.webpack.hot-update.json
.next/static/webpack/752563f6847f7586.webpack.hot-update.json
.next/static/webpack/1348925e20b402a5.webpack.hot-update.json
.next/static/webpack/76712378c54f1a11.webpack.hot-update.json
.next/static/webpack/b2fc1beba0ac3aa8.webpack.hot-update.json
.next/static/webpack/bfc29e529ff86fe4.webpack.hot-update.json
.next/static/webpack/c52caf1319bfc556.webpack.hot-update.json
.next/static/webpack/fcbd8902380d1054.webpack.hot-update.json
.next/static/webpack/webpack.01e771bd391f5c4c.hot-update.js
.next/static/webpack/webpack.4a83e0c6e475ef1e.hot-update.js
.next/static/webpack/webpack.8bc322c5eed36c26.hot-update.js
.next/static/webpack/webpack.19e50d5ebc99c2ef.hot-update.js
.next/static/webpack/webpack.90e02260aecdc0f5.hot-update.js
.next/static/webpack/webpack.57872d41122f1762.hot-update.js
.next/static/webpack/webpack.752563f6847f7586.hot-update.js
.next/static/webpack/webpack.1348925e20b402a5.hot-update.js
.next/static/webpack/webpack.76712378c54f1a11.hot-update.js
.next/static/webpack/webpack.b2fc1beba0ac3aa8.hot-update.js
.next/static/webpack/webpack.bfc29e529ff86fe4.hot-update.js
.next/static/webpack/webpack.c52caf1319bfc556.hot-update.js
.next/static/webpack/webpack.fcbd8902380d1054.hot-update.js
.next/static/webpack/pages/index.01e771bd391f5c4c.hot-update.js
.next/static/webpack/pages/index.4a83e0c6e475ef1e.hot-update.js
.next/static/webpack/pages/index.8bc322c5eed36c26.hot-update.js
.next/static/webpack/pages/index.19e50d5ebc99c2ef.hot-update.js
.next/static/webpack/pages/index.90e02260aecdc0f5.hot-update.js
.next/static/webpack/pages/index.57872d41122f1762.hot-update.js
.next/static/webpack/pages/index.752563f6847f7586.hot-update.js
.next/static/webpack/pages/index.1348925e20b402a5.hot-update.js
.next/static/webpack/pages/index.76712378c54f1a11.hot-update.js
.next/static/webpack/pages/index.b2fc1beba0ac3aa8.hot-update.js
.next/static/webpack/pages/index.bfc29e529ff86fe4.hot-update.js
.next/static/webpack/pages/index.c52caf1319bfc556.hot-update.js
.next/static/webpack/pages/index.fcbd8902380d1054.hot-update.js
