.cuadrado {
    border-radius: 25px;
    background: #FAFAFD;
    width: 50%;
    height: 75%;
    display: inline-block;
  }
  .effect1{
    -webkit-box-shadow: 0 10px 6px -6px #777;
       -moz-box-shadow: 0 10px 6px -6px #777;
            box-shadow: 0 10px 6px -6px #777;
  }
  .centrar {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }


  .one {
    width: 20vw;
    height: 20vw;
    background-color: #76ccde;
    float: left;
    margin-left: 10px;
  }
  
  .two {
    width: 25vw;
    height: 25vw;
    background-color: #c976de;
    float: left;
    margin-left: 10px;
  }
  
  .three {
    width: 30vw;
    height: 30vw;
    background-color: #a7de76;
    float: left;
    margin-left: 10px;
  }

  @media (min-width: 300px) and (max-width: 900px){
    .cuadrado {
      border-radius: 25px;
      background: #FAFAFD;
      width: 90%;
      height: 90%;
      display: inline-block;
    }
  }
  @media (max-width: 700px) and (orientation: landscape){
    .cuadrado {
      border-radius: 25px;
      background: #FAFAFD;
      width: 80%;
      height: 90%;
      display: inline-block;
    }
  }