@media (max-width: 900px) and (orientation: landscape){
    .flex-container {
        display: flex;
    }
    
    .flex-child {
        flex: 1;
    }  
    
    .flex-child:first-child {
        margin-right: 20px;
    } 
    .landscapeInfo{
        margin: 10% auto 5% auto;
    }
  }