.p-large-title{
  font-size: 2.75rem;
}

.p-layout h1 {
  font-size: 2.25rem;
  padding: 0;
  
}

.p-layout h2 {
  font-size: 1.75rem;
}

.p-layout h3 {
  font-size: 1.58rem;
}

.p-headline {
  font-size: 1.34rem;
  font-weight: bold;
}

.p-layout p {
  font-size: 1rem;
  padding: 0;
  margin-top: -20px;
}

.p-layout .link,
.p-layout input {
  font-size: 1.14rem;
}

.p-callout {
  font-size: 1.14rem;
}

.p-subhead {
  font-size: 1.167rem;
}

.p-footnote {
  font-size: 1.07rem;
}

.p-caption {
  font-size: 0.91rem;
}

@media (max-width: 900px) and (orientation: landscape){
  .p-layout h1 {
    font-size: 1.5rem;
    padding: 0;
    
  }
}