@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Monocraft';
    src: url('/assets/fonts/Monocraft.otf');
}

body {
    background: #d4d4d4;
}

html,
body {
    overflow: hidden;
    margin-top: 0;
    width: 100%;
}
